Package: readline-doc
Source: readline
Version: 7.0-5
Architecture: all
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 157
Depends: dpkg (>= 1.15.4) | install-info
Replaces: libreadline6-dev (<< 6.3-8)
Section: doc
Priority: optional
Multi-Arch: foreign
Description: GNU readline and history libraries, documentation and examples
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.
